*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
}

.content {  
  padding-top: 45px;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.box {
  width: 100vw;
  height: 90vh;
  background-color: rgb(9, 9, 9);
  perspective: 500px;
  overflow: hidden;
  margin-bottom: 500px;
}

.audio {
  position: absolute;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.text {
  margin-bottom: 50px;
}

.item {
  box-sizing: content-box;
  margin: auto;
  width: 80vw;
  height: 200px;
  color: goldenrod;
  text-align: left;
  transition: linear;
  animation-name: title-crawl;
  animation-duration: 28s;
  animation-iteration-count: infinite;  
}

@keyframes title-crawl {
  0%{
    margin-top: 600px;
    
    transform: scale3d(0.85, 1, 1) rotatex(50deg);
  }

  100%{
    margin-top: 0;
  transform: scale3d(0.25, 0.3, 0.4) rotateX(33deg);
  }
}